<script>
function search() {
    title = document.getElementById('title').value;
    location.href = '/books/search?title=' + title;
}
</script>

<h1 style="cursor:pointer;" onclick="location.href='/'" class="text-center">소설을 영화로 만들다 : True Lies </h1>
<hr>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group" style="text-align:center;">
            <input type="text" id="title" class="form-control" placeholder="당신이 영화로 바꾸고 싶은 책의 제목을 입력하세요">
            <br>
            <button type="button" class="btn btn-primary btn-lg" onclick="search();">책 검색하기</button>
            <button type="button" class="btn btn-default btn-lg" onclick="location.href='../../books/create'">책 추가하기</button>
            <button type="button" class="btn btn-default btn-lg" onclick="location.href='../../actors/create'">배우 추가하기</button>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<hr></hr>